.test {
  // position: absolute;
  // left: 0;
  // top: 0;
  // z-index: 10;
  width: 10%;
  height: 30%;
  background-color: aqua;
}

.card {
  width: 80%;
  max-height: 60%;
  border-radius: 20px;
  // background-color: #f28705;
  // background-color: #fff0d4;
  // background-color: #ff9e00;
  background-color: #ff9400;
  color: #ffffff;
  display: flex;
  flex-direction: row;

  // padding: 5%;
  padding: 5% 5% 5% 0;
}

.card__mainInfo {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 20px;
}

.person__main {
  display: flex;
  flex-direction: column;

  margin-top: 8px;

  row-gap: 12px;
}

.person__surname {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.person__img {
  max-width: 60%;
  max-height: 80%;
  border-radius: 20px;

}
