.header {
  height: 80px;
  margin: 0;
  padding: 0 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #BD7736;
}

.header__logo {
  height: 60px;
}

.header__cite {

}
